singularity.enabled = false
process {
	withName: runVEPonVCF {
        cpus = 1
        memory = 200.MB
    }
}

profiles {
    github {
        params.repo_dir = 'NONE'
    }
    codon {
        // params.repo_dir = "/hps/software/users/ensembl/variation/${USER}"
        params.repo_dir = 
		"/Users/snhossain/ensembl-repos"
    }
}