singularity.enabled = false
        
process{
	withName: SPLIT_VCF_CHR {
        memory = 50.MB
    }

    withName: SPLIT_VCF_CHR {
        memory = 10.MB
    }

    withName: runVEPonVCF {
        cpus = 1
        memory = 200.MB
    }
}

profiles {
    github {
        docker{
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }

        params.repo_dir = "${projectDir}/repos"
       
        process{        
            withLabel: bcftools {
                container = 'biocontainers/bcftools:1.3'
            }
 
            withLabel: vep {
                container = 'ensemblorg/ensembl-vep'
            }
        }
    }
    local {
        params.repo_dir = "/Users/snhossain/ensembl-repos"
    }
}