singularity.enabled = false

process{
    withName: SPLIT_VCF_CHR {
        memory = 10.MB
    }
    withName: runVEPonVCF {
        cpus = 1
        memory = 200.MB
    }
}

profiles {
    github {
        params.repo_dir = "${projectDir}/repos"
    }
    local {
        params.repo_dir = "/Users/snhossain/ensembl-repos"
    }
}