singularity.enabled = true



process{
    withName: SPLIT_VCF_CHR {
        memory = 10.MB
    }

    withName: runVEPonVCF {
        cpus = 1
        memory = 200.MB
    }

    withLabel: bcftools {
        container = 'docker://quay.io/biocontainers/bcftools:1.13--h3a49de5_0'
    }

    withLabel: vep {
        container = 'docker://ensemblorg/ensembl-vep'
    }
}

profiles {
    github {
        params.repo_dir = "${projectDir}/repos"
    }
    local {
        params.repo_dir = "/Users/snhossain/ensembl-repos"
    }
}