nextflowVersion = '!>=23.10.0'

params {
	// Ensembl version and release id
	version = 110
	release_id = 6

	// Ensembl repositories
	repo_dir = null

	// output dir
	output_dir = "${launchDir}"
	temp_dir = params.output_dir + "/tmp"

	// config files
	input_config = "${projectDir}/assets/example/input_config.json"
	vep_config = "${projectDir}/assets/vep_config.json"
	synonym_file = null
	chrom_sizes_file = null
	ini_file = "${projectDir}/assets/DEFAULT.ini"
	rank_file = "${projectDir}/assets/variation_consequnce_rank.json"
	population_data_file = !params.structural_variant ? "${projectDir}/assets/population_data.json" : null
	sources_meta_file = "${projectDir}/assets/sources_meta.json"
	bed_fields = "${projectDir}/assets/short_variant_bedfields.json"

	// // global VEP annotation source parameters
	// cache {
	//     active = true
	//     dir = null
	//     factory = "old_ftp"
	// }
	// fasta {
	//     active = true
	//     dir = null
	//     file = null
	//     factory = "old_ftp"
	// }
	// gff {
	//     active = false
	//     dir = null
	//     file = null
	//     factory = "new_ftp"
	// }

	// // global VEP plugins parameters
	// vep_plugins {
	//     file_factory = "old_ftp"
	//     genome_matcher = null
	// }

	// // global VEP custom annotation parameters
	// custom_annotations {
	//     file_factory = "new_ftp"
	//     genome_matcher = null
	// }

	// pipeline control parameters
	structural_variant = 0
	bin_size = 250000
	remove_nonunique_ids = 0
	remove_patch_regions = 1
	skip_vep = 0
	skip_tracks = 0
	skip_stats = 0
	force_create_config = 0
	rename_clinvar_ids = 1
	queue_size = 1200
	queue = 'production'
}


plugins {
	id 'nf-schema@2.2.0'
}

validation {
	help {
		enabled = true
	}
}

profiles {
	standard {
		executor.name = 'local'
	}

	lsf {
		executor.name = 'lsf'
	}

	slurm {
		executor.name = 'slurm'
	}
}

process {
	cpus = 1
	memory = { 2.GB * task.attempt }
	time = { 12.hour * task.attempt }
	queue = params.queue

	// error strategy
	errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
	maxRetries = 1

	withLabel: process_low {
		memory = { 1.GB * task.attempt }
		time = { 1.hour * task.attempt }
	}

	withLabel: process_medium {
		cpus = { 1 * task.attempt }
		memory = { 4.GB * task.attempt }
		time = { 24.hour * task.attempt }
	}

	withLabel: process_high {
		cpus = { 1 * task.attempt }
		memory = { 8.GB * task.attempt }
		time = { 48.hour * task.attempt }
	}

	withName: BED_TO_BIGBED {
		cpus = { 1 * task.attempt }
		memory = { 15.GB * task.attempt }
		time = { 3.hour * task.attempt }
	}

	withName: runVEPonVCF {
		cpus = { 2 * task.attempt }
		memory = { 10.KB * params.bin_size * task.attempt + 1.GB }
		time = { 0.00008.hour * params.bin_size * task.attempt + 1.hour }
	}

	withName: mergeVCF {
		cpus = { 1 * task.attempt }
		memory = { 4.GB * task.attempt }
		time = { 48.hour * task.attempt }
	}

	withLabel: bcftools {
		container = 'docker://quay.io/biocontainers/bcftools:1.13--h3a49de5_0'
	}

	withLabel: vep {
		container = 'docker://ensemblorg/ensembl-vep'
	}
}

executor {
	queueSize = params.queue_size
	submitRateLimit = '50/10sec'
}

singularity {
	enabled = true
	autoMounts = true
}

trace {
	enabled = true
	overwrite = true
	file = "reports/trace.txt"
}

dag {
	enabled = true
	overwrite = true
	file = "reports/flowchart.mmd"
}

timeline {
	enabled = true
	overwrite = true
	file = "reports/timeline.html"
}

report {
	enabled = true
	overwrite = true
	file = "reports/report.html"
}
