cyvcf2==0.31.1
decorator==5.0.9
Deprecated==1.2.18
git+https://nakib103@github.com/nakib103/ensembl-variation-pipelines.git@main#egg=ensembl_variation_utils&subdirectory=src/python
pylint==2.9.6
pytest==8.4.2
